/* rubik-regular - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v14-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v14-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v14-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v14-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v14-latin_cyrillic-regular.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-500 - latin_cyrillic */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v14-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v14-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v14-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v14-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v14-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v14-latin_cyrillic-500.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-700 - latin_cyrillic */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v14-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v14-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v14-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v14-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v14-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v14-latin_cyrillic-700.svg#Rubik') format('svg'); /* Legacy iOS */
  }

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #000000;
    font-family: 'Rubik', 'Arial', sans-serif;
}

img {
	vertical-align: middle;
}

.container {
	width: 1240px;
	margin: 0 auto;
	padding: 0 20px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

/* Header */

.header-top .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 20px;
}

.header-top-logo {
    width: 320px;
    text-align: center;
	margin-right: 20px;
    background: #ffffff;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
}

.currency-list {
	display: flex;
	margin: 0;
	margin-right: auto;
	padding: 0;
	list-style-type: none;
}

.currency-item{
    line-height: 19px;
}

.currency-item + .currency-item {
	margin-left: 20px;
}

/* .header-search {
    background: #FFFFFF;
} */
.search-input {
    display: inline-block;
    width: 145px;
    height: 40px;
    margin-right: 14px;
    padding-top: 12px;
    padding-right: 41.5px;
    padding-bottom: 11px;
    padding-left: 15px;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    
}

.search-input::placeholder {
    color: #CCCCCC; 
    font-size: 12px;
    line-height: 14px;
}

.search-button {
    width: 38px;
    height: 40px;
    margin-right: 52px;
    padding: 0;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.search {
    margin-right: 42px;
}

.language {
    display: inline-block;
    width: 65px;
    height: 40px;
    margin-right: 34px;
    padding-top: 11px;
    /* padding-bottom: 8px;
    padding-left: 36px; */
    padding-right: 7.7px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #535353;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    /* background-image: url("../images/language.svg");
    background-repeat: no-repeat;
    background-position: top 11px left 11px;
    background-size: 20px 20px;
     */
}

.language::before {
    /* display: block; */
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    padding-top: 11px;
    padding-right: 25px;
    padding-bottom: 9px;
    padding-left: 1px;
    background-image: url("../images/language.svg");
    background-repeat: no-repeat;
    background-position: left calc(50% - 5px)center;
    content: '';
}

.language-image{
    border-radius: 18px;
    margin-right: 5px;
}

.header-top-link {
	width: 146px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #ffffff;
	padding: 10px;
	background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
	border-radius: 5px;
}

.header-top-link-image {
	margin-right: 7px;
	border-radius: 50%;
}

.header-bottom{
    padding-bottom: 23px;
}

.nav {
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 18px;
}

.nav-list {
    margin: 0;
    padding-top: 21px;
    padding-right: 25px;
    padding-bottom: 22px;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: rgba(81, 81, 81, 1);
}

.nrg {
    border: 1px solid #e0e0e0;
}

/* Covid-19 */

.coronavirus {
    margin-bottom: 18px;
}

.coronavirus-info {
    display: flex;
    background: #f6f6f9;
    border-radius: 5px;
}

.covid {
    width: 380px;
    display: flex;
    align-items: center;
    margin-right: 71px;
}

.covid-image {
    margin-top: 44px;
    margin-right: 25px;
    margin-bottom: 44px;
    margin-left: 44px;
}
.covid-link {
    text-decoration: none;
    color: #000000;
}

.covid-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px
}

.stats {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.stats-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    width: 2px;
    height: 74px;
    background-color: #eb5569;
}

.intected-icon{
    align-items: center;
    margin-top: 48px;
    margin-right: 18px;
    margin-bottom: 47px;
    margin-left: 30px;
}

.infected-info {
    margin: 0;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.infected-heading {
    margin: 0;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #db0000;
}

.infected-paragraph {
    width: 161px;
    margin: 0;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

.stats-info:nth-child(2) .infected-heading {
    color:#05B135;
}

.stats-info:nth-child(3) .infected-heading {
    color: #000000;
}

.stats-info:nth-child(2) .line {
    width: 2px;
    height: 49px;
}

.stats-info:nth-child(3) .line {
    width: 2px;
    height: 49px;
}

/* News */ 

.uz-news {
    margin-bottom: 54px;
}

.news-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.news-box-item {
    width: 380px;
    margin-bottom: 18px;
}

.news-box-link {
    text-decoration: none;
    color: rgba(32, 32, 32, 1);
}

.news-box-heading {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 11px;
}

.news-box-time {
    font-size: 14px;
    line-height: 17px;
    color: #6b6d97;
}

/* Notifications */

.notifications-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(239, 186, 84, 0.18);
    border-radius: 5px;
    background-image: url(../images/bell-icon.png);
    background-repeat: no-repeat;
    background-size: 30px 35px;
    background-position: right calc(50% + 550px) center ;
    margin-bottom: 38px;
}

.notifications-heading {
    width: 610px;
    margin-top: 33px;
    margin-right: 224px;
    margin-bottom: 32px;
    margin-left: 82px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.notifications-link {
    width: 264px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 11px;
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 24px;
}

/* Last News */

.news {
    display: flex;
    margin-bottom: 38px;
}

.news-left {
    margin-right: 31px;
}

.left-heding {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.left-list {
    margin: 0;
    padding: 0;
}

.left-list-item {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
    list-style-type: none;
}

.left-list-link {
    text-decoration: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.left-image {
    margin-right: 19px;
}

.left-list-box {
    display: inline-block;
    width: 523px;
    margin: 0;
    padding: 0;
}

.left-list-heading {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    margin-bottom: 8px;
}

.left-list-paragraph {
    font-size: 15px;
    line-height: 18px;
    color: #434343;
    margin: 0;
    margin-bottom: 12px;
}

.left-list-time {
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
}

.left-link {
    width: 211px;
    display: block;
    margin-left: 295px;
    padding: 10px 31px;
    text-decoration: none;
    text-align: center;
    background: #295093;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
}

/* Right - List */

.news-right {
    margin-top: 23px;
    
}

.right-list {
    width: 386px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    padding-top: 16px;
    background: #f6f6f9;
    border-radius: 5px;
}

.right-list-item {
    
    padding-bottom: 20px;
}

.right-list-link {
    text-decoration: none;
}

.right-list-heading {
    width: 300px;
    margin: 0;
    margin-bottom: 6px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
}

.right-list-paragraph {
    width: 347px;
    margin: 0;
    margin-right: 19px;
    margin-bottom: 11px;
    margin-left: 20px;
    padding-right: 60px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}

.right-list-time {
    margin-bottom: 14px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 17px;
    color: #7688a4;
}


.right-list-line {
    display: inline-block;
    width: 346px;
    height: 4px;
    margin-left: 20px;
    background-color: #e4e4e4;
}

/* Download */

.download {
    display: flex;
    margin-bottom: 38px;
    background: #F6F6F9;
    border-radius: 5px;
    background-image: url("../images/phone.png");
    background-repeat: no-repeat;
    background-size: 236px 177px;
    background-position: 19px 37px;
}

.download-box-info {
    width: 526px;
    margin-top: 64px;
    margin-right: 63px;
    margin-bottom: 66px;
    margin-left: 245px;
}

.download-heading {
    width: 526px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #295093;
}

.download-paragraph {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.download-box-link {
    display: flex;
    margin-top: 82px;
    margin-bottom: 82px;
}

.download-link {
    margin-right: 20px;
}

.footer {
    background: #295093;
}

.footer-top {
    display: flex;
    color: #ffffff;
}

.footer-logo {
    width: 194px;
    height: 38px;
    margin: 0;
    margin-top: 18px;
    margin-right: 190px;
    margin-bottom: 20px;
    padding-top: 11px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 9px;
    font-size: 16px;
    line-height: 19px;
    background: #133C82;
    border-radius: 5px;
    color: white;
}

.footer-top-paragraph {
    margin: 0;
    padding: 0;
    margin-top: 31px;
    margin-right: 16px;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.footer-top-link {
    width: 132px;
    /* height: 38px; */
    margin-top: 20px;
    margin-bottom: 18px;
    padding-top: 9.5px;
    padding-right: 11px;
    padding-bottom: 9px;
    padding-left: 9.5px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #295093;
    background: #ffffff;
    border-radius: 5px;
}

.footer-top-line {
    display: inline-block;
    width: 1200px;
    height: 3px;
    margin-bottom: 12px;
    background: #133C82;
}

.footer-bottom {
    display: flex;
    flex-direction: space-between;
}

.footer-info-left {
    width: 365px;
}

.info-left-paragrahp {
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    font-weight: 500;
}

.info-right {
    display: flex;
}

.info-first-box {
    width: 163px;
    margin-top: 12px;
    margin-right: 115px;
    margin-bottom: 28px;
    margin-left: 111px;
}

.info-second-box {
    width: 225px;
    margin-top: 12px;
    margin-bottom: 28px;
}

.info-right-link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

/* Contact - page */

.about-header {
    background: #F6F6F9;
}

.contact-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-list {
    width: 600px;
}

.contact-heading {
    margin: 0;
    margin-top: 17px;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.contact-input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 14px;
    padding: 16px;
    background: #f1f1f1;
    opacity: 0.3;
    border: 2px solid #285193;
    border-radius: 5px;
}

.contact-input::placeholder {
    font-size: 18px;
    line-height: 21px;
    color: #888888;
} 

/* .contact-input:hover {
    opacity: 0.6;
} */

.contact-input:focus {
    opacity: 1;
}

.contact-text-area {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #888888;
    background: #F1F1F1;
    opacity: 0.3;
    border: 2px solid #285193;
    box-sizing: border-box;
    border-radius: 5px;
    resize: none;
}

.contact-text-area:focus {
    opacity: 1;
}

.contact-file-controller {
    display: flex;
    width: 221px;
    justify-content: space-between;
    align-items: center;
    /* height: 51px; */
    margin-bottom: 20px;
    padding-top: 15px;
    /* padding-right: 51px; */
    padding-bottom: 14px;
    padding-left: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #888888;
    background: #FBFBFB;
    opacity: 0.3;
    border: 2px solid #285193;
    border-radius: 5px;
}

.contact-file-controller::after {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../images/file-icon.svg');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: content;
    content: '';
}

.contact-file-controller:hover {
    opacity: 0.6;
}

.contact-file-controller:focus {
    opacity: 1;
}

.contact-code {
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
}

.code {
    width: 221px;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 18px;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    background: #FBFBFB;
    opacity: 0.3;
    border: 2px solid #285193;
    border-radius: 5px;
    color: #888888;
}

.code:focus {
    opacity: 1;
}

.contact-button {
    display: block;
    width: 221px;
    margin-bottom: 40px;
    padding-top: 15px;
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #FFFFFF;
    background: #295093;
    border: 2px solid rgba(40, 81, 147, 0.54);
    border-radius: 5px;
}

/* Biznes Card */

.business-card {
    width: 515px;
    border: 2px solid #BCC3CD;
    box-shadow: -10px 10px 10px 0 rgb(41 80 145 / 16%);
    box-sizing: border-box;
    border-radius: 5px;
}

.card-heading {
    margin: 0;
    margin-top: 23px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: right;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #295091;
}

.contacts {
    padding: 0px;
}

.contacts-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
}

.contacts-item:nth-child(2) {
    margin-bottom: 17px;
}

.contacts-item:nth-child(3) {
    margin-bottom: 17px;
}

.contacts-item:nth-child(4) {
    margin-bottom: 0;
}

.contacts-title {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
}

.mail {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
}

.social {
    width: 120px;
    display: flex;
    justify-content: space-between;
}


.telegram-link {

    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* vertical-align: center; */
    padding: 7px 9px;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #295091;
    border-radius: 5px;
}

.card-apps {
    display: flex;
}

.card-app-icon {
    margin-left: 13px;
}
